body{
    background:#0F0E4A;
}
main{
    height:100vh;
}
h1{
    font-family: 'Abril Fatface';
    font-size:4em;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
}
button{
    font-size:1.75em!important;
    border-radius:2em!important;;
}
.game{
    width:700px;
    height:700px;
}
.board{
    height:600px;
}
.piece{
    width:100px;
    height:100px;
    border-radius: 50%;
}
.bgop{
    background:rgba(0,0,0,.4);
}
#pop{
    z-index: 1000;
}



@media only screen and (max-width: 600px){
h1{
    font-size: 3em;
}
}
